*{
	box-sizing: border-box;
}

body{
	color: black;
	font-size: 18px;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3rem;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	padding:0 .5rem;
	background-color: white;
}

.flex-center,
.flex-start,
.menu-btn,
.flex-end,
nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.subscribe-account{
	margin-right: 2rem;

} 

.subscribe-btn, .account{
	padding: 0.7rem 0;
	font-size: 0.7em;
	border: 0;	
}

.subscribe-btn{
	background-color: #567b95;
	border-radius: 4px;
	font-weight: bold;
	color: white;
	width: 10rem;
}

.account{
	background: none;
	margin-left: 0.8rem;
}

.account span{
	opacity: 0.5;
	margin-left: 0.3rem;
}

nav{
	/* position: fixed; */
	width: 100%;
	height: 100%;
}

button.menu-btn{
	width: 2rem;
	height: 2rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: none;
	border: 0;
}

.burger{
	width: 1rem;
	height: 2px;
	background-color: black;
	margin: 1px; 
}

.searchbtn {
	height: 2rem;
	width: 2rem;
	background:none;
	border: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.searchbtn>img {
	width: 100%;
	height: auto;
}
.nav-spacing-left {
	margin-right: .5rem;
}


nav a{
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}

.logo-div{
	width: 16rem;
	cursor: pointer;
}
.logo-div img{
	width: 100%;
	height: auto;
}


button{
	cursor: pointer;
}

.main-image-and-caption {
	width: 80%;
	display: block;
	margin: 0 auto;

}

img[src="img/main-article-img.jpg"]{
	width: 100%;
	height: auto;
	
}

.main-img-cp{
	width: 70%;
	opacity: .8;
	font-size: .9rem;
	line-height: 1.2rem;
}
.faded-cation-text {
	color: #888 ;
}

.mb-1{
	margin-bottom: 1rem;
}



.mb-2{
	margin-bottom: 2rem;
}

.mb-3{
	margin-bottom: 3rem;
}


.mt-1{
	margin-top: 1rem;
}

.mt-2{
	margin-top: 3rem;
}

.mt-3{
	margin-top: 6rem;
}

h1.main-heading{
	font-weight: bold;
	font-size: 3rem;
	font-style: italic;
}

article h1{
	margin-left: 20%;
}


/* main-content-area */
.author-social-container {
	width: 60%;
	margin: 1.5rem auto;
}
.date-socials-container {
	display: flex;
	
}
.date-socials-container ul {
	display: flex;
}

.date-socials-container li{
	margin-left: 1rem;
	display: flex;
	align-items: center;
}

.date-socials-container li i{
	color: black;
	background-color: lightgrey;
	border-radius: 100%;
	padding: 0.4rem;
	font-size: 1rem;
}
.date-socials-container li i[class*="far fa-comment-alt"],
.date-socials-container li i[class*="far fa-bookmark"] {
	background: none;
	font-size: 2rem;
}


.spacer {
	flex: 1;
}

.comments-notfications {
	width: 40px;
	height: 30px;
	margin-top: 5px;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid gray;
}
.comments-notfications::before{
	content: "";
	position: absolute;
	left: 10px;
	top: 30px;
	width: 0px;
	height: 0px;
	border-top: 15px solid gray;
	border-left: 15px solid transparent;

}

span[rel="author"]{
	text-decoration: underline;
}

.content-header h3 a{
	text-decoration: none;
	color: inherit;
}


/***********main article*******/
.content-aside-container {
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 2rem;
	justify-content: center;
	align-items: center;
}

.content-container{
	padding-left: 200px;
}

.content-container p{
	width: 70%;
	margin: 1rem auto;
	line-height: 24px;
}
.content-container p a {
	color: rgb(50, 104, 145);
}

.appreciation-container {
	padding-left: 200px;
	display: flex;
	width: 70%;
	flex-direction: column;
	align-items: center;
	font-size: 0.9rem;
}
.apreciation-divider {
	width: 20%;
	height: 1px;
	background-color: gray;
	margin: 1.2rem 0;
	opacity: .6;
	
	
}

.appreciation-container span {
	font-weight:600;
	line-height: 1.4rem;
}

.appreciation-container a {
	color: rgb(50, 104, 145) ;
	text-decoration: none;
	font-weight: 600;
	line-height: 1.2rem;
}

.subheading {
	width: 70%;
	margin: 2rem auto 1rem auto;
	padding-right: 200px;
	font-weight: 700;
	font-size: 1.4rem;
}







/* **********aside*********** */
.editor-picks-content-container {
	width: 80%;
	height: 20rem;
	display: flex;
	flex-direction: column;
}

aside h4{
	font-weight: bold;
	font-size: 0.9rem;
}

 .editor-divider{
 	width: 90%;
 	height: 1px;
 	opacity: 0.5;
 	background-color: gray;
}


.editor-content {
	width: 100%;
	height: calc(100%/3.5);
	margin: 0.1rem 0;
	display: flex;
	align-items: center;
}
.image-container {
	height: 5rem;
	margin-right: .5rem;
	width: 5rem;
}
.image-container img {
	width: 100% ;
	height: auto;
}
.editor-content a{
	text-decoration: none;
	color: inherit;
	opacity: .9;
	width: 60%;
	font-size: .9rem;
}

.editor-content a:hover{
	text-decoration: underline;
}

/**********grid 2**********/
.other-content-grid{
	background-image: url("img/grid-2.png");
	background-size: 60rem auto;
	background-repeat: no-repeat;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1rem;
	width: 60rem;
	height: auto;
	margin: 0 auto;
}

.other-grid-items{
	font-size: 0.8rem;
	height: 20rem;
	padding-top: 7.5rem;

}

.other-grid-items p {
	line-height: 1.1rem;
}
.other-grid-items strong {
	font-weight: 700;
}

.grid-top{
	padding-top: 10rem;
}
.other-content-head  {
	width: 60rem;
	margin: 0 auto;
}
.other-content-head h2{
	font-weight: 700;
}
.other-content-head p {
	font-size: .98rem;
	opacity: .8;
	margin: .5rem 0;
	line-height: 1.2rem;
}
.other-grid-line {
	width: 5rem;
	height: 1px;
	background-color: black;
	margin-left: 14%;
	margin-top: -3rem;

}
.other-grid-caption {
	width:72%;
	margin: 1rem auto;
	font-size: .9rem;
}



.footer-pop-up-container{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 3rem;
	position: fixed;
	bottom: 0;
	background-color: #2a2d30;
	align-items: center;
}




